In [1]:
import numpy as np
import pandas as pd
import yfinance as yf
import seaborn as sns
import matplotlib.pyplot as plt

## Ejercicio 1 [5.0 puntos]

Dados los valores de los precios de tres activos en el fichero en la ruta `filepath`, analiza cuál sería el activo en el que invertirías y añade la justificación de la decisión.

In [2]:
filepath = "https://raw.githubusercontent.com/alfonso-santos/microcredencial-carteras-python-2023/main/datos_practicas/datos_ejercicio1.csv"

In [7]:
precios = pd.read_csv(filepath, index_col=0)
precios.head()

   Activo 1  Activo 2  Activo 3
0  1.007512  1.172625  0.935687
1  1.034282  1.045326  0.884819
2  1.097240  1.068054  0.933041
3  1.070608  0.978501  0.977994
4  1.133475  0.866147  0.939886

In [8]:
retornos1 = np.log(precios).diff().dropna()
retornos1.head()

   Activo 1  Activo 2  Activo 3
1  0.026224 -0.114917 -0.055898
2  0.059091  0.021510  0.053066
3 -0.024571 -0.087572  0.047055
4  0.057061 -0.121967 -0.039745
5 -0.004751  0.040719 -0.028798

---

In [10]:
rets = retornos1.mean() * 252
rets

Activo 1    0.250364
Activo 2    0.212082
Activo 3    0.269021
dtype: float64

In [12]:
vols = retornos1.std() * np.sqrt(252)
vols

Activo 1    0.942591
Activo 2    0.929752
Activo 3    0.995969
dtype: float64

In [14]:
skew = retornos1.skew()
skew

Activo 1   -0.845692
Activo 2   -0.018823
Activo 3    0.030535
dtype: float64

In [15]:
kurto = retornos1.kurt()
kurto

Activo 1    0.447310
Activo 2   -0.004204
Activo 3    1.022480
dtype: float64

## Ejercicio 2 [5.0 puntos]

Dada la siguiente lista de tickers de activos `["IEF", "AAPL", "BA", "JPM", "TGT", "F"]`, descarga los precios de cierre ajustados diarios a partir del 1 de enero de 2020 y calcula la cartera formada por dos de los activos de forma que sea la de menor riesgo. Justifica la respuesta.

In [ ]:
activos = ['IEF', 'AAPL', 'BA', 'JPM', 'TGT', 'F']